<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-admin(pageTitle)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${pageTitle} + ' - Panel de Administración'">Panel de Administración</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo-ecuador.ico}" href="/images/logo-ecuador.ico">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script th:src="@{/js/tailwind-config.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
</html>
